body {
  font-family: 'Segoe UI', Arial;
  background: #0e0e0e;
  color: #eaeaea;
  margin: 0;
}

#loginScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox {
  background: #1c1c1c;
  padding: 25px;
  border-radius: 12px;
  width: 260px;
  text-align: center;
}

.loginBox input {
  width: 90%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 15px;
  border-bottom: 1px solid #333;
}

main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
}

section {
  background: #181818;
  padding: 15px;
  border-radius: 10px;
}

#ativos div {
  background: #222;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-buy { background: #00c853; color: white; }
.btn-sell { background: #d50000; color: white; }

.positivo { color: #00e676; }
.negativo { color: #ff5252; }

canvas {
  width: 100% !important;
  height: 300px !important;
}